In [1]:
import pandas as pd

In [2]:
#import file
df = pd.read_csv("fortune1000.csv", low_memory=False, encoding='latin-1')

In [3]:
#show head
df.head(5)

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [4]:
#remove commas
df["Revenues ($M)"] = df["Revenues ($M)"].str.replace(",", "")
df["Profits ($M)"] = df["Profits ($M)"].str.replace(",", "")
df["Assets ($M)"] = df["Assets ($M)"].str.replace(",", "")
df["Mkt Value as of 3/29/18 ($M)"] = df["Mkt Value as of 3/29/18 ($M)"].str.replace(",", "")
df["Employees"] = df["Employees"].str.replace(",", "")

#remove '$'
df["Revenues ($M)"] = df["Revenues ($M)"].str.replace("$", "")
df["Profits ($M)"] = df["Profits ($M)"].str.replace("$", "")
df["Assets ($M)"] = df["Assets ($M)"].str.replace("$", "")
df["Mkt Value as of 3/29/18 ($M)"] = df["Mkt Value as of 3/29/18 ($M)"].str.replace("$", "")

In [5]:
df.head(5)

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,500343,3.00%,9862.00,-27.70%,204522,263563,2300000,C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,244363,17.40%,19710.00,151.40%,348691,316157,71200,Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,242137,8.30%,44940.00,86.70%,702095,492008,377000,Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,229234,6.30%,48351.00,5.80%,375319,851318,123000,Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,201159,8.80%,10558.00,50.50%,139058,207080,260000,David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [6]:
df.to_csv('fortune1000_clean.csv', sep=',', index=False)